<div class="flex py-5 pr-1">
  <button
    class="btn btn-circle btn-outline btn-xs bg-primary_600 border-primary_600 text-primary_400 scale-75 hover:border-none hover:bg-white"
  ></button>
  <button
    class="btn btn-circle btn-outline btn-xs bg-primary_600 border-primary_600 text-primary_400 scale-75 hover:border-none hover:bg-white"
  ></button>
  <button
    class="btn btn-circle btn-outline btn-xs bg-primary_600 border-primary_600 text-primary_400 scale-75 hover:border-none hover:bg-white"
  ></button>
</div>
