<img
  class="fixed w-full h-full top-0 left-0 -z-10  object-cover opacity-35"
  src="../../../../assets/images/dddepth-342.jpg"
>
<div class="h-full relative w-full flex-col flex py-2 px-2">



  <div class="relative w-full h-12 pb-5 flex  text-xl">

    <div class="w-full  flex justify-center items-center">
      Agosto
    </div>
  </div>
  <div class="relative overscroll-none  grow w-full grid flex-col overflow-scroll"
       [style]="{
      gridTemplateColumns: '1fr repeat('+days.length+', 2fr)'}"
  >

    @for (day of days; let index = $index; track index) {
      <div
        class="shrink-0 z-30  sticky top-0 w-24 h-20 flex flex-col justify-center items-center"
        [style]="{gridColumn: index+2, gridRow: 1}"
      >
        <div class="relative  flex flex-col justify-center items-center w-full h-full">

          <span class="">{{ toWeekday(day) }}</span>
          <span class="text-3xl">{{ day.getDate() }}</span>
          @if (isToday(day)) {
            <div class="absolute border-sky-800 w-full bottom-0 border-t-[5px] rounded-t-2xl"></div>
          }
        </div>
      </div>
    }

    <div class="col-start-1 col-span-full h-5">
    </div>
    @for (hour of hours; let hIndex = $index; track hIndex) {
      <div
        [style]="{gridRow: hIndex+3}"
        class="col-start-1 sticky flex left-0 text-black"
      >
        <div class="relative pl-1 pr-1 -top-3 flex font-bold  z-10 ">
          {{ hour }}:00

        </div>
      </div>
    }
    @for (hour of hours; let hIndex = $index; track hIndex) {
      <div
        [style]="{gridRow: hIndex+3}"
        class="h-12 ml-12 -z-20 col-span-full col-start-1 border-gray-400 border-dashed border-t"
      >
      </div>
    }
    @for (event of events; track event) {
      <div
        [style]="{
            'height': event.duration/60*48+'px',
            'top': 5 +((toDate(event.startDate).getTime()%(86400000))/(1000*60*60)-4) * 48 + 'px',
            'left': (findDayIndex(event)+0.5)*96+'px',
           }"
        class="h-full
           absolute
           -z-10
          w-24
           text-sm overflow-hidden drop-shadow">
        <div
          [style]="{backgroundColor: event.color}"
          class="
         text-center text-gray-800 h-full pl-2 flex-col flex items-start justify-start text-xs w-full rounded-xl">
          <span class="font-bold text-start">{{ event.name }}</span>
          <span>{{ formatHour(toDate(event.startDate)) }}</span>
        </div>
      </div>
    }
  </div>

</div>

