<img
  class="fixed w-full h-full top-0 left-0 -z-10  object-cover opacity-35"
  src="../../../assets/images/dddepth-342.jpg"
>
<div class="w-full h-full flex flex-col items-center  justify-end">
  <div class=" h-1/3 flex-col flex justify-center items-center">

    <span class="material-icons-outlined text-9xl">pentagon</span>
  </div>

  <div class="w-full
  text-gray-300
  flex-col flex items-center
  overflow-hidden justify-between h-2/3
  backdrop-blur
  bg-sky-900/40 rounded-t-3xl">
    <div class="w-full flex-col flex justify-center gap-10 items-center h-full">
      <p class="text-4xl font-extralight pt-5">Benvenuto</p>

      <input placeholder="Username" class="border-gray-300/50 text-gray-800 border outline-none placeholder-gray-300/40 bg-transparent focus:bg-gray-300/40 w-10/12 p-1 outline-0 h-10 rounded-xl"/>
      <input placeholder="Password" class="border-gray-300/50 text-gray-800 border outline-none placeholder-gray-300/40 bg-transparent focus:bg-gray-300/40 w-10/12 p-1 outline-0 h-10 rounded-xl"/>

      <button
      class="h-10 rounded-xl bg-sky-900/90 text-gray-300 p-1 w-10/12"
      > LOG IN</button>
    </div>
    <div>
      <a routerLink="">Go to website</a>
    </div>
  </div>


</div>

