<div class="w-full h-full flex-col flex gap-5">

  <div class="relative  w-full h-1/3 min-h-64 flex justify-around items-end px-4">
    @for (participant of leaderboard.getTopThree(); track participant; let index = $index) {
      <div class="w-3/12 h-full flex flex-col justify-end items-center">
        <!--        <span class="material-icons-outlined text-3xl">account_circle</span>-->
        <span class="font-bold text-xl">{{ participant.player }}</span>
        <!--        <span class="text text-gray-500"> {{ participant.points }}</span>-->
        <div
          [class]="{
          'h-full': index === 0,
          'h-1/2': index === 1,
          'h-2/6': index === 2
          }"
          class="text-center
           font-bold text-4xl
           flex justify-center items-center bg-gray-500/30 w-full backdrop-blur  rounded-3xl"
        >
          {{ index + 1 }}°
        </div>
      </div>
    }

  </div>
  <div class="absolute z-10 overflow-scroll h-full w-full">
    <div class=" relative rounded-2xl  mt-[80%] h-5/6  overflow-hidden  backdrop-blur
    drop-shadow-2xl
    w-full bg-white/30 flex flex-col justify-start items-center">
      <div
        class="w-1/5 absolute top-2 border-4 border-gray-500 rounded-2xl mb-2 "
      >
      </div>
      @for (participant of leaderboard.participants | decorateParticipants; track participant) {
        <div
          [style]="{'background-image': 'linear-gradient(to right, ' + colors[participant.player] + ', transparent 80%'} "

          class="flex  p-3 pb-5 gap-4 h-1/6 w-full "
        >
          <span class="w-1/12 flex items-center  text-3xl"> {{ participant.rank }}</span>
          <div class=" w-2/12 text-2xl font-bold flex flex-col justify-center">
            <span class="">{{ participant.player }}</span>
          </div>
          <div class="flex items-center justify-end grow gap-2 ">
            @if (participant.jolly) {
              <img class="h-4 aspect-square" src="assets/images/joker-hat-svgrepo-com.svg">
            }
            <span class=" text-xl flex items-center">{{ participant.points }} </span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
